*.ozf
*.pyc
*.zip
*.o
*.svg
*.deb
*.bin
config.json
The-Spam-Classifinator/
ProgLang-Scala-project/
Reinforcement-Learning-PR-1/
RLPR2/
BioAI_Project2/
BioAI_Project3/
AIProg/MountainCar/
ProgLang/Assistance/
Masters/ditto
Masters/py_entitymatching
DataScienceProject/
Masters/BERT/data/
Masters/BERT/*.csv
